---
import { Image } from "astro:assets"
import facebook from "../../media/icons/Facebook -Colour.svg"
import linkedin from "../../media/icons/Linkedin-Colour.svg"
import spotify from "../../media/icons/Spotify-Colour.svg"
---
<ul class="flex gp-150" aria-label="Social media icons" role="list">
    <li>
        <a href="https://www.facebook.com/profile.php?id=100090434056054" target="_blank"><Image src={facebook} alt="Link to Facebook Page" title="Facebook" aria-label="Link to Facebook Page" /></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/mclean-mylymok-533170307/"><Image src={linkedin} alt="Link to LinkedIn Profile" title="Linkedin Logo" aria-label="Link to LinkedIn Profile" /></a>
    </li>
    <li>
        <a href="https://open.spotify.com/user/gpemzt18h3jvibrl9mt6qv4hi?si=56eaa29e93614023"><Image src={spotify} alt="Link To Spotify Profile" title="Spotify Logo" aria-label="Link to Spotify Profile"/></a>
    </li>
</ul>
