---
import NarrowContainer from "../NarrowContainer.astro";
import IconRow from "./IconRowLight.astro";
---

<footer class="p-section sm bg-tertiary">
    <NarrowContainer>
        <div class="footer-content flex flex-col gp-150">
            <div class="icons m-auto">
                <IconRow />
            </div>
            <p class="m-auto footer-text">Copyright &copy; <span id="year"></span> | McLean Mylymok</p>
        </div>
    </NarrowContainer>
</footer>
<style>
    .footer-text {
        font-size: var(--p-mobile);
    }
</style>
<script>
import "../../js/script.js"
</script>