---
import BtnPrimary from "../components/BtnPrimary.astro";
import Container from "../components/Container.astro";
import NarrowContainer from "../components/NarrowContainer.astro";
import BlankTemplate from "../templates/BlankTemplate.astro";
---

<BlankTemplate title="Page Not Found">
    <section class="p-section">
        <Container>
            <div class="txt mb-200 txt-center clr-tertiary">
                <h1 class="h1 mb-200">Thanks for subscribing! </h1>
                <p class="p mb-200">You are officially on the waitlist! I will personally let you know when the full website is live </p>
            </div>
            <div class="flex justify-center m-auto">
            <BtnPrimary text="Go Home" link="/" />
            </div>
        </Container>
    </section>
</BlankTemplate>